name: Build and Test

on:
  push:
    branches:
      - main  
      
jobs:
  build:
    runs-on: ubuntu-latest
    

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '17'
          
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@ccb4328a959376b642e027874838f60f8e596de3
        
      - name: Build with Gradle
        run: ./gradle build --no-daemon
        working-directory: 'pitmutationmate'

      - name: Run Tests
        run: ./gradle test --no-daemon
        working-directory: 'pitmutationmate'
